{%extends 'preachings/base.html' %}
{% block content %}

    <div class="container shadow-md  mx-2 my-2 bg-white  md:my-auto md:mx-auto  px-4 py-4 md:w-1/4">
        <h1 class="text-xl font-bold text-gray-700 md:text-2xl mb-2">Password change</h1>
        <div class="w-full mx-auto">
            <form method="POST">
                {% csrf_token %}
                <div class="text-red-600 my-2">{{ form.non_field_errors }}</div>
                <ul class="container flex flex-col flex-wrap ">
                    <div>
                        <div class="text-red-600">{{ form.old_password.errors }}</div>
                        <label class="py-3 font-bold" for="username">Old Password</label>
                        <li id="title" class="py-3"><input class="w-full border border-gray-300 px-3 py-2 rounded-lg shadow-sm focus:outline-none focus:border-indigo-500 focus:ring-1 focus:ring-indigo-500" type="password" name="{{form.old_password.html_name}}" id="{{form.old_password.id_for_label}}"></li>
                    </div>
                    <div>
                       <div class="text-red-600">{{ form.new_password1.errors }}</div>
                        <label class="py-3 font-bold" for="username">New Password</label>
                        <li id="title" class="py-3"><input class="w-full border border-gray-300 px-3 py-2 rounded-lg shadow-sm focus:outline-none focus:border-indigo-500 focus:ring-1 focus:ring-indigo-500" type="password" name="{{form.new_password1.html_name}}" id="{{form.new_password1.id_for_label}}"></li>
                    </div>
                    <div>
                        <div class="text-red-600">{{ form.new_password2.errors }}</div>
                         <label class="py-3 font-bold" for="username">Confirm New Password</label>
                         <li id="title" class="py-3"><input class="w-full border border-gray-300 px-3 py-2 rounded-lg shadow-sm focus:outline-none focus:border-indigo-500 focus:ring-1 focus:ring-indigo-500" type="password" name="{{form.new_password2.html_name}}" id="{{form.new_password2.id_for_label}}"></li>
                     </div>
                    <input class="text-center border border-gray-700 bg-gray-700 text-white rounded-md px-4 py-3 mr-2 transition duration-500 ease select-none hover:bg-gray-800 focus:outline-none focus:shadow-outline" type="submit" value="Change Password">
                </ul>
                
            </form>
        </div>
    </div>
{% endblock %}