{% extends 'preachings/base.html' %}
{% load static %}
{% block content %}
<div class="container block mx-auto my-auto">
    <div class="text-center text-xl text-gray-700 md:text-2xl">
        Password reset complete. <br><br>

        Your password has been set. You may go ahead and log in now.

    </div>
    <div class="flex flex-row justify-center  py-6">
        <a href="{% url 'login' %}" type="submit" class="border border-blue-500 bg-blue-500  text-white rounded-md px-4 py-1 transition duration-500 ease select-none hover:bg-red-600 focus:outline-none focus:shadow-outline">
            Login
        </a> 


    </div>
</div>
{% endblock %}