{%load static%}

<!DOCTYPE html>
<html>
    <head>
      
      <title>Baptist Notes</title>
      <link rel="stylesheet" href="{% static '/css/tailwind/tailwind.css' %}">
      
    </head>

    <body>
        
      <div class="overflow-x-hidden  text bg-gray-100 flex flex-col h-screen">
        <nav class=" px-6 py-4 bg-white shadow  w-full flex-none">
            <div class="container flex flex-col mx-auto md:flex-row md:items-center md:justify-between">
                <div class="flex items-center justify-between">
                    <div>
                        <a href="{% url 'index_preaching_list' %}" class="text-xl font-bold text-gray-800 md:text-2xl">Baptist Notes</a>
                    </div>
                    <form method="GET" action="{% url 'search' %}">
                        <div class="ml-6 invisible relative mx-auto text-gray-600 md:visible">
                            <input class="border-2 border-gray-300 bg-white h-10 px-5 pr-16 rounded-lg text-sm focus:outline-none" type="search" name="search_text" placeholder="Search">
                            <button type="submit" class="absolute right-0 top-0 mt-3 mr-4">
                            <svg class="text-gray-600 h-4 w-4 fill-current" xmlns="http://www.w3.org/2000/svg"
                                xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" id="Capa_1" x="0px" y="0px"
                                viewBox="0 0 56.966 56.966" style="enable-background:new 0 0 56.966 56.966;" xml:space="preserve"
                                width="512px" height="512px">
                                <path
                                d="M55.146,51.887L41.588,37.786c3.486-4.144,5.396-9.358,5.396-14.786c0-12.682-10.318-23-23-23s-23,10.318-23,23  s10.318,23,23,23c4.761,0,9.298-1.436,13.177-4.162l13.661,14.208c0.571,0.593,1.339,0.92,2.162,0.92  c0.779,0,1.518-0.297,2.079-0.837C56.255,54.982,56.293,53.08,55.146,51.887z M23.984,6c9.374,0,17,7.626,17,17s-7.626,17-17,17  s-17-7.626-17-17S14.61,6,23.984,6z" />
                            </svg>
                            </button>
                        </div>
                    </form>
                    <div>
                        <button type="button" class="block text-gray-800 hover:text-gray-600 focus:text-gray-600 focus:outline-none md:hidden">
                            <svg viewBox="0 0 24 24" class="w-6 h-6 fill-current">
                                <path d="M4 5h16a1 1 0 0 1 0 2H4a1 1 0 1 1 0-2zm0 6h16a1 1 0 0 1 0 2H4a1 1 0 0 1 0-2zm0 6h16a1 1 0 0 1 0 2H4a1 1 0 0 1 0-2z">
                                </path>
                            </svg>
                        </button>
                    </div>
                </div>
                
                <div class="flex-col hidden md:flex md:flex-row md:-mx-4">
                    <a href="#" class="my-1 text-gray-800 hover:text-blue-500 md:mx-4 md:my-0">About</a>
                    {% if user.is_authenticated %}
                    <a href="{% url 'user_detail' pk=user.id %}" class="my-1 text-gray-800 hover:text-blue-500 md:mx-4 md:my-0">Profile</a>
                    <a href="{% url 'logout_confirmation' %}" class="my-1 text-gray-800 hover:text-blue-500 md:mx-4 md:my-0">Logout</a>
                    {%else%}
                    <a href="{% url 'login' %}"  class="my-1 text-gray-800 hover:text-blue-500 md:mx-4 md:my-0">Login</a>
                    <a href="{% url 'register' %}" class="my-1 text-gray-800 hover:text-blue-500 md:mx-4 md:my-0">Sign up</a>
                    {%endif%}
                </div>
            </div>
        </nav>
     
        <div class="flex flex-grow">
            {%block content%}
                
            {%endblock%}
        </div>
    
        <footer class="px-6 py-2 text-gray-100 bg-gray-800 flex-none">
            <div class="container flex flex-col items-center justify-between mx-auto md:flex-row">
              <a href="{% url 'index_preaching_list' %}" class="text-2xl font-bold">Baptist Notes<span class="hidden md:visible lg:visible text-base text-center ">- Based only on the scriptures,the sole authority for faith and practice</span>.</a>
              <span class="text-base text-center mt-2 align-middle mg:hidden lg:hidden">Based only on the scriptures,the sole authority for faith and practice</span>
                <p class="mt-2 md:mt-0">All rights reserved 2020-2021.</p>
                <div class="flex mt-4 mb-2 -mx-2 md:mt-0 md:mb-0">
                       Version: Alpha
                </div>
            </div>
        </footer>
    </div>
      
    </body>
</html>