{% load crispy_forms_tags%}

<!DOCTYPE html>
<html>
    <head>
      <title>Baptist Notes</title>
      <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" 
            integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" 
            crossorigin="anonymous">
      <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
              integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" 
              integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
      <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" 
              integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
       
    </head>

    <body>
        
      <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
            <a class="navbar-brand ml-4" href="{% url 'index_preaching_list'%}">Baptist Notes</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
          
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
              <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                  <a class="nav-link" href="{% url 'index_preaching_list' %}" id="home-link">Home<span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="#">About</a>
                </li>

              </ul>
              {% if request.user.is_authenticated%}
                <li class="nav-item dropdown">
                  <a class="nav-link dropdown-toggle text-white" href="" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Account
                  </a>
                  <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" href="{% url 'preaching_create' %}">Write Post</a>
                    <a class="dropdown-item" href="{% url 'user_detail' request.user.id %}">Profile</a>
                    <div class="dropdown-divider"></div>
                    <form action="{% url 'logout' %}" method="POST">
                      {% csrf_token %}
                      <input type="submit" class="dropdown-item" value="Log out">
                      <input type="hidden" name="next" value="{{request.path}}"> 
                    </form>
                    </div>
                </li>
              {% else %}
              <form class="form-inline my-2 my-lg-0" action="{% url 'register' %}">
                <button type="submit" class="btn btn-outline-success my-2 my-sm-0">Register</button>
                <input type="hidden" name="next" value="{{ request.path }}">
              </form>
              
              <form class="form-inline my-2 my-lg-0" action="{% url 'login' %}">
                <button type="submit" class="btn btn-outline-success my-2 my-sm-0">Log In</button>
                <input type="hidden" name="next" value="{{ request.path }}">
              </form>
              
              {%endif%}
            </div>
          </nav>
        <div class=" container-fluid row p-5">
            {%block content%}
            {%endblock%}
        </div>
    </body>
</html>