{%include 'preachings/base.html'%}
{% load static%}
{%block content%}
    <link rel="stylesheet" href="{% static 'preachings/css/preaching_create.css' %}">
    <header id="header" class="container-fluid w-75 mx-auto mt-1 mb-5">
        <h1><b>Write a Post</b></h1>
    </header>

    <form action="{% url 'preaching_create' %}" method="POST" id="form" class="form-group w-75 mx-auto">
        {% csrf_token %}
        <div class="container ml-auto mr-auto"></div>
            <ul class="container-fluid list-unstyled">
                <label class="mb-2"for="title">Title</label>
                <li id="title" class="">{{ form.title }}</li>
                <label  class="mb-2 mt-4" for="body">Body</label>
                <li id="body" class="contact">{{ form.text }}</li>
                <label  class="mb-2 mt-4" for="date">Date</label>
                <li id="date" class="contact">{{ form.date }}</li>
                <label  class="mb-2 mt-4 " for="privacy">Private</label>
                <li  class="mb-2" id="privacy" class="contact">{{ form.privacy }}</li>
                <label  class="mb-2 mt-4 " for="tags">Tags</label>
                <div class="row container">
                   
                    <li  class="mb-2 col-lg-8" id="tags"> {{ form.tags }} </li>
                    <li  class="mb-2 col-lg-4" id="add_tag"> Add </li>

                </div>

                <ul id="tag-list" class="list-unstyled">
       
                </ul>

                <li id="message" class="mt-2 mb-5"><input type="submit" class="btn btn-primary" value="Post"></li>
            </ul>

            
         </div>
    </form>


<script type="text/javascript" src="{% static 'ckeditor/ckeditor-init.js' %}"></script>
<script type="text/javascript" src="{% static 'ckeditor/ckeditor/ckeditor.js' %}"></script>

<script>
    let tagCounter = 0;

    //AJAX
    document.addEventListener('DOMContentLoaded', function() {
       
       document.getElementById('id_tags').onkeyup = () => {
           // initialize new request
           const request = new XMLHttpRequest();
           request.open("POST", "{% url 'tag_suggestions' %}");

           var keyword = document.getElementById('id_tags').value;
           data = {"keyword": keyword};

           //when request is finished
           request.onload = () => {
                console.log("Wala naman");
               /* const data = JSON.parse(request.responseText);

                console.log(data);
                var li_1 = document.createElement('li');
                li_1.textContent = data["keyword"]
                document.getElementById("tag-list").appendChild(li_1);
                return false;
                */
           }
           
           request.setRequestHeader("Content-Type", 'application/json;');
           request.setRequestHeader("X-CSRFToken", '{{csrf_token}}');
           request.send(JSON.stringify(data));
           console.log(data);
           
       };

    });

    function deleteTag(){
        this.parentNode.remove();
    }   

    document.getElementById("add_tag").addEventListener('click', function(){
        var li_1 = document.createElement('li');
        li_1.textContent = document.getElementById('id_tags').value;
        console.log(li_1);

        var li_span = document.createElement('span');
        li_span.textContent = ' Delete ';
        li_span.addEventListener('click', deleteTag);
        li_1.appendChild(li_span);
        document.getElementById("tag-list").appendChild(li_1);
    });     
</script>

{%endblock%}