body {
    font-family: 'Lato';
}
#head {
    background: linear-gradient(to right, #001b38 , #0352a0  );
}

#heading-title {
    font-size: 1.5em;
}

#sub-heading {
    font-size: 2.4em;
}

#sub-heading-2 {
    font-size: 2.1em;
}

a {
    color: black;
}

.note-article {
    height: auto;
}

#tag {
   
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) { 
    nav {
        width: 100%;
    }

    header{
        width: 105%;
    }

    #heading-title {
        font-size: 3vw;
    }

    #sub-heading {
        font-size: 1.5vw;
    }
    
    #sub-heading-2 {
        font-size: 1.5vw;
    }

    .center {
        margin-left: auto;
        margin-right: auto;
      }
}