{% extends 'preachings/base.html'%}
{% load static %}
{% block content%}
    {%if preaching_list.count > 0%}
        <div class="container grid grid-cols-12  px-3 mx-auto">
            <!--
            <div class="col-span-12 mt-2">
                <img class="object-cover h-48 w-full" src="{%static 'preachings/images/banner.png'%}">
            </div>
            -->
            
            
            <div class="col-span-12 md:col-span-9 lg:col-span-9 flex-grow mx-3">
                <div class="mt-8 flex flex-row flex-wrap justify-between">
                    <div class="text-xl font-bold text-gray-700 md:text-2xl">
                        Posts
                    </div>
                    <a href="{% url 'preaching_create' %}" class="border border-gray-700 bg-gray-700 text-white rounded-md px-4 mr-2 py-1.5 transition duration-500 ease select-none hover:bg-gray-800 focus:outline-none focus:shadow-outline">
                        Create Post
                    </a>
                    
                </div>
                
                <div class="flex flex-col py-3">
                    {% for preaching in preaching_list%}
                    <article class="flex-grow  px-6 py-6 bg-white rounded-lg shadow-md mb-4">
                        <div class="flex flex-row justify-between">
                            <span class="font-light text-gray-600">{{ preaching.date|date}}</span>
                            <div class="flex flex-row space-x-2">
                                {%for tag in preaching.tags.all %}
                                <a href="{% url 'tagged_preaching_list' tag.title %}" class="text-white bg-gray-600 rounded font-bold px-2 flex-1">{{tag.title}}</a>
                                {% endfor %}
                            </div>
                        </div>
                        <div class="py-1 font-bold text-xl pt-4">
                            <a href="{% url 'preaching_detail' slug=preaching.slug %}">{{preaching.title}}</a> 
                        </div>
                        <!--<p>
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolor delectus earum recusandae voluptates accusantium? Molestias tempore voluptatibus vero natus, suscipit iste maxime. Vero provident recusandae repudiandae hic deleniti fugit sint...
                        </p>
                        -->
                        <div class="flex flex-row justify-between pt-3">
                            <div>
                                <a href="{% url 'preaching_detail' slug=preaching.slug %}" class="text-blue-500 hover:underline">Read More</a>
                            </div>
                            <a href="{% url 'user_detail' preaching.user.id%}" class="font-bold text-gray-700 hover:underline">{% if preaching.user.get_full_name %}{{preaching.user.get_full_name}}{% endif %}</a>
                        </div>
    
                    </article>
                    {% endfor %}
                </div>
            </div>

            <div class="col-span-12 md:col-span-3 lg:col-span-3 md:mt-5 flex flex-col py-3 mx-3">
                
                {% if user.is_authenticated %}
                <article class="p-4 bg-white shadow-md flex-row justify-between">
                    <h3 class="font-bold">Hello, {{user.get_full_name}}!</h3>
                    <!--<h3 class="text-white">View All</h3>-->
                 </article>
                 <div class="p-4  bg-white shadow-md  p-3 mb-3 ">
                    <p class="mb-3">You can edit your profile and change your personal information. You can also add your bio to display who you are when you post something.</p>
                    <a href="{% url 'user_update' user.pk %}" class="border text-center hidden lg:block self-end border-gray-700 bg-gray-700 text-white rounded-md px-4 mr-2 py-1.5 transition duration-500 ease select-none hover:bg-gray-800 focus:outline-none focus:shadow-outline">
                        Edit Profile
                    </a>
                 </div>
                {% endif %}

                <article class="p-4 bg-white shadow-md flex flex-row justify-between">
                    <h3 class="font-bold ">Top Authors</h3>
                    <!--<h3 class="text-white">View All</h3>-->
                </article>
                 <div class="p-4 bg-white shadow-md  p-3">
                     <ul>
                        {%for user in top_users %} 
                        <li><a href="{% url 'user_detail' user.id%}">{{user.get_full_name}}</a></li>
                         {%endfor %}
                     </ul>
                </div>

                <article class="p-4 bg-white shadow-md mt-3 flex-row justify-between">
                   <h3 class="font-bold">Top Tags</h3>
                   <!--<h3 class="text-white">View All</h3>-->
                </article>
                <div class="p-4  bg-white shadow-md  p-3">
                    <ul>
                        {%for tag in top_tags %}
                        <li><a href="{% url 'tagged_preaching_list' tag.title %}">{{tag.title}}</a></li>
                        {% endfor %}
                    </ul>
                </div>

                

       
           
            </div>
            
        </div>
    {% else %}
    <div class="container block px-3 mx-auto my-auto">
        <div class="text-center">
            <h1 class="text-2xl lg:text-3xl md:text-2xl text-center font-bold mb-5">No posts to show.</h1>
            <a href="{% url 'preaching_create' %}" class="border border-gray-700 bg-gray-700 text-white rounded-md px-4 mr-2 py-1.5 transition duration-500 ease select-none hover:bg-gray-800 focus:outline-none focus:shadow-outline">
                Create Post
            </a>
        </div>
    </div>
    {%endif%}
<!--
<div class="px-6 py-8">
    <div class="container flex justify-between mx-auto">
        <div class="w-full lg:w-8/12">
            <div class="flex items-center justify-between">
                <h1 class="text-xl font-bold text-gray-700 md:text-2xl">Post</h1>
                <div>
                    <select class="w-full border-gray-300 rounded-md shadow-sm focus:border-indigo-300 focus:ring focus:ring-indigo-200 focus:ring-opacity-50">
                        <option>Latest</option>
                        <option>Last Week</option>
                    </select>
                </div>
            </div>
            {% for preaching in preaching_list%}
                <div class="mt-6">
                    <div class="max-w-4xl px-10 py-6 mx-auto bg-white rounded-lg shadow-md">
                        <div class="flex items-center justify-between">
                            <span class="font-light text-gray-600">{{ preaching.date}}</span>
                            <div class="flex space-x-2 ">
                                {%for tag in preaching.tags.all %}
                                    <a href="{% url 'tagged_preaching_list' tag.title %}"
                                    class="flex-1 px-2 py-1 font-bold text-gray-100 bg-gray-600 rounded hover:bg-gray-500">{{tag.title}}</a>
                                {%endfor%}
                            </div>
                                
                        </div>
                       
                        <div class="mt-2"><a href="{% url 'preaching_detail' slug=preaching.slug %}" class="text-2xl font-bold text-gray-700 hover:underline">{{preaching.title}}</a>
                            <p class="mt-2 text-gray-600">Lorem ipsum dolor sit, amet consectetur adipisicing elit.
                                Tempora expedita dicta totam aspernatur doloremque. Excepturi iste iusto eos enim
                                reprehenderit nisi, accusamus delectus nihil quis facere in modi ratione libero!</p>
                        </div>
                      
                        <div class="flex items-center justify-between mt-4"><a href="{% url 'preaching_detail' slug=preaching.slug %}"
                                class="text-blue-500 hover:underline">Read more</a>
                            <div><a href="" class="flex items-center"><img
                                        src="https://images.unsplash.com/photo-1492562080023-ab3db95bfbce?ixlib=rb-1.2.1&amp;ixid=eyJhcHBfaWQiOjEyMDd9&amp;auto=format&amp;fit=crop&amp;w=731&amp;q=80"
                                        alt="avatar" class="hidden object-cover w-10 h-10 mx-4 rounded-full sm:block">
                                    <h1 class="font-bold text-gray-700 hover:underline">{{ preaching.user.get_full_name}}</h1>
                                </a></div>
                        </div>
                    </div>
                </div>
            {% endfor %}
            <div class="mt-8">
                <div class="flex">
                    <a href="#" class="px-3 py-2 mx-1 font-medium text-gray-500 bg-white rounded-md cursor-not-allowed">
                        previous
                    </a>
                
                    <a href="#" class="px-3 py-2 mx-1 font-medium text-gray-700 bg-white rounded-md hover:bg-blue-500 hover:text-white">
                        1
                    </a>
                
                    <a href="#" class="px-3 py-2 mx-1 font-medium text-gray-700 bg-white rounded-md hover:bg-blue-500 hover:text-white">
                        2
                    </a>
                
                    <a href="#" class="px-3 py-2 mx-1 font-medium text-gray-700 bg-white rounded-md hover:bg-blue-500 hover:text-white">
                        3
                    </a>
                
                    <a href="#" class="px-3 py-2 mx-1 font-medium text-gray-700 bg-white rounded-md hover:bg-blue-500 hover:text-white">
                        Next
                    </a>
                </div>
            </div>
        </div>
        <div class="hidden w-4/12 -mx-8 lg:block">
            <div class="px-8">
                <h1 class="mb-4 text-xl font-bold text-gray-700">Top Authors</h1>
                <div class="flex flex-col max-w-sm px-6 py-4 mx-auto bg-white rounded-lg shadow-md">
                    <ul class="-mx-4">
                        <li class="flex items-center"><img
                                src="https://images.unsplash.com/photo-1492562080023-ab3db95bfbce?ixlib=rb-1.2.1&amp;ixid=eyJhcHBfaWQiOjEyMDd9&amp;auto=format&amp;fit=crop&amp;w=731&amp;q=80"
                                alt="avatar" class="object-cover w-10 h-10 mx-4 rounded-full">
                            <p><a href="#" class="mx-1 font-bold text-gray-700 hover:underline">Alex John</a><span
                                    class="text-sm font-light text-gray-700">Created 23 Posts</span></p>
                        </li>
                        <li class="flex items-center mt-6"><img
                                src="https://images.unsplash.com/photo-1464863979621-258859e62245?ixlib=rb-1.2.1&amp;ixid=eyJhcHBfaWQiOjEyMDd9&amp;auto=format&amp;fit=crop&amp;w=333&amp;q=80"
                                alt="avatar" class="object-cover w-10 h-10 mx-4 rounded-full">
                            <p><a href="#" class="mx-1 font-bold text-gray-700 hover:underline">Jane Doe</a><span
                                    class="text-sm font-light text-gray-700">Created 52 Posts</span></p>
                        </li>
                        <li class="flex items-center mt-6"><img
                                src="https://images.unsplash.com/photo-1531251445707-1f000e1e87d0?ixlib=rb-1.2.1&amp;ixid=eyJhcHBfaWQiOjEyMDd9&amp;auto=format&amp;fit=crop&amp;w=281&amp;q=80"
                                alt="avatar" class="object-cover w-10 h-10 mx-4 rounded-full">
                            <p><a href="#" class="mx-1 font-bold text-gray-700 hover:underline">Lisa Way</a><span
                                    class="text-sm font-light text-gray-700">Created 73 Posts</span></p>
                        </li>
                        <li class="flex items-center mt-6"><img
                                src="https://images.unsplash.com/photo-1500757810556-5d600d9b737d?ixlib=rb-1.2.1&amp;ixid=eyJhcHBfaWQiOjEyMDd9&amp;auto=format&amp;fit=crop&amp;w=735&amp;q=80"
                                alt="avatar" class="object-cover w-10 h-10 mx-4 rounded-full">
                            <p><a href="#" class="mx-1 font-bold text-gray-700 hover:underline">Steve Matt</a><span
                                    class="text-sm font-light text-gray-700">Created 245 Posts</span></p>
                        </li>
                        <li class="flex items-center mt-6"><img
                                src="https://images.unsplash.com/photo-1502980426475-b83966705988?ixlib=rb-1.2.1&amp;ixid=eyJhcHBfaWQiOjEyMDd9&amp;auto=format&amp;fit=crop&amp;w=373&amp;q=80"
                                alt="avatar" class="object-cover w-10 h-10 mx-4 rounded-full">
                            <p><a href="#" class="mx-1 font-bold text-gray-700 hover:underline">Khatab
                                    Wedaa</a><span class="text-sm font-light text-gray-700">Created 332 Posts</span>
                            </p>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="px-8 mt-10">
                <h1 class="mb-4 text-xl font-bold text-gray-700">Categories</h1>
                <div class="flex flex-col max-w-sm px-4 py-6 mx-auto bg-white rounded-lg shadow-md">
                    <ul>
                        <li><a href="#" class="mx-1 font-bold text-gray-700 hover:text-gray-600 hover:underline">-
                                AWS</a></li>
                        <li class="mt-2"><a href="#"
                                class="mx-1 font-bold text-gray-700 hover:text-gray-600 hover:underline">-
                                Laravel</a></li>
                        <li class="mt-2"><a href="#"
                                class="mx-1 font-bold text-gray-700 hover:text-gray-600 hover:underline">- Vue</a>
                        </li>
                        <li class="mt-2"><a href="#"
                                class="mx-1 font-bold text-gray-700 hover:text-gray-600 hover:underline">-
                                Design</a></li>
                        <li class="flex items-center mt-2"><a href="#"
                                class="mx-1 font-bold text-gray-700 hover:text-gray-600 hover:underline">-
                                Django</a></li>
                        <li class="flex items-center mt-2"><a href="#"
                                class="mx-1 font-bold text-gray-700 hover:text-gray-600 hover:underline">- PHP</a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="px-8 mt-10">
                <h1 class="mb-4 text-xl font-bold text-gray-700">Recent Post</h1>
                <div class="flex flex-col max-w-sm px-8 py-6 mx-auto bg-white rounded-lg shadow-md">
                    <div class="flex items-center justify-center"><a href="#"
                            class="px-2 py-1 text-sm text-green-100 bg-gray-600 rounded hover:bg-gray-500">Laravel</a>
                    </div>
                    <div class="mt-4"><a href="#" class="text-lg font-medium text-gray-700 hover:underline">Build
                            Your New Idea with Laravel Freamwork.</a></div>
                    <div class="flex items-center justify-between mt-4">
                        <div class="flex items-center"><img
                                src="https://images.unsplash.com/photo-1492562080023-ab3db95bfbce?ixlib=rb-1.2.1&amp;ixid=eyJhcHBfaWQiOjEyMDd9&amp;auto=format&amp;fit=crop&amp;w=731&amp;q=80"
                                alt="avatar" class="object-cover w-8 h-8 rounded-full"><a href="#"
                                class="mx-3 text-sm text-gray-700 hover:underline">Alex John</a></div><span
                            class="text-sm font-light text-gray-600">Jun 1, 2020</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


-->



        <!--
        <div class="">
            <h1 class=""></h1>Baptist Notes</h1>
            <h4>A compilation of sermons of Baptists. 
                Based only on the scriptures,the sole authority for faith and practice.</h4>
        </div>
        <main id="main" class="">
        {% for preaching in preaching_list%}
            <article class="">
                <div class="">
                    <div class="">
                        <a href="{% url 'preaching_detail' slug=preaching.slug %}"><h1>{{preaching.title}}</h1></a>
                        <ul class="">
                            {%for tag in preaching.tags.all %}
                                <li class="" id="tag">
                                        <a class="text-white" href="{% url 'tagged_preaching_list' tag.title %}">{{tag.title}}</a>
                                </li>

                                {% empty %}
                                
                            {%endfor%}
                        </ul>
                    </div>
                    <div class="">
                        <p class=""><a href ="{% url 'user_detail' preaching.user.id%}">{{preaching.user.get_full_name | default:preaching.user.username}}</a></p>
                        <p class="">{{preaching.date}}</p> 
                    </div>
                </div>
            </article>
        {%endfor%}
        </main>
    </div-->
{%endblock%}