{% extends 'preachings/base.html' %}
{% load static %}
{% block content %}
<div class="container block px-3 mx-auto my-auto">
    <div class="flex flex-col py-3">
        <div class="flex-grow  px-6 py-6  mb-4">
            <h1 class="text-2xl lg:text-3xl md:text-2xl text-center font-bold">Note successfully deleted.</h1>
        </div>

    </div>
    <div class="container text-center">
        <a href="{% url 'index_preaching_list'%}" class="text-center border border-gray-700 bg-gray-700 text-white rounded-md px-4 py-3 mr-2 transition duration-500 ease select-none hover:bg-gray-800 focus:outline-none focus:shadow-outline">
            Return to home
        </a>
    </div>
</div>
{% endblock %}