{% extends 'preachings/base.html'%}
{% load static%}

{% block content %}
<div class="container block mx-auto px-3">
    <header id="header" class="py-3">
        <h1 class="font-bold text-2xl">Update a Post</h1>
    </header>

    <form action="{% url 'preaching_update' slug=form.instance.slug %}" method="POST" id="form" class="py-3">
        {% csrf_token %}
        <div class="">
            <ul class="container">
                <label class="py-3 font-bold" for="title">Title</label>
                <li id="title" class="py-3">{{ form.title }}</li>
                <label  class="py-3 font-bold" for="body">Content</label>
                <li id="body" class="py-3">{{ form.text }}</li>
                <label  class="py-3 font-bold py-3" for="tags">Tags</label>
                <div class="py-3">               
                    <div class="col-4">
                        {{ form.tags }}
                        <input type="text" id="id_tag" >
                        <input type="button" onClick="addTag()" class="border border-indigo-500 bg-indigo-500 text-white rounded-md px-4 mr-2 py-1.5 transition duration-500 ease select-none hover:bg-indigo-600 focus:outline-none focus:shadow-outline" value="Add Tag" id="add_tag">
                    </div>
                    <div class="col-4">
                        <ul class="list-inline" id="tag_list"></ul>

                    </div>  
                    <div class="col-4" >
                        <ul class="list-inline" id="tag_list_final"></ul>
                    </div> 
                

                </div>

                <ul id="tag-list" class="list-inline">
                    
                </ul>

                <li id="message" ><input type="submit" class="border border-gray-700 bg-gray-700 text-white rounded-md px-4 mr-2 py-1.5 transition duration-500 ease select-none hover:bg-gray-800 focus:outline-none focus:shadow-outline" value="Edit Post"></li>
            </ul>
        </div>
    </form>
</div>

<script type="text/javascript" src="{% static 'ckeditor/ckeditor-init.js' %}"></script>
<script type="text/javascript" src="{% static 'ckeditor/ckeditor/ckeditor.js' %}"></script>
<script>var csrftoken = '{{ csrf_token }}';</script>
<script type="text/javascript" src="{% static 'preachings/js/preaching_create.js'%}"></script>
{% endblock %}