{%extends 'preachings/base.html' %}
{% block content %}

    <div class="container flex flex-col shadow-md  mx-2 bg-white my-auto md:mx-auto lg:mx-auto  px-4 py-4 md:w-1/4">
        <h1 class="text-xl font-bold text-gray-700 md:text-2xl mb-2">Login</h1>
        <div class="w-full mx-auto">
            <form method="POST">
                {% csrf_token %}
                <div class="text-red-600 my-2">{{ form.non_field_errors }}</div>
                <ul class=" flex flex-col flex-wrap">
                    <div class="w-full">
                        <div class="text-red-600">{{ form.username.errors }}</div>
                        <label class="py-3 font-bold" for="username">email</label>
                        <li id="title" class="py-3"><input class="w-full border border-gray-300 px-3 py-2 rounded-lg shadow-sm focus:outline-none focus:border-indigo-500 focus:ring-1 focus:ring-indigo-500" type="text" name="{{form.username.html_name}}" id="{{form.username.id_for_label}}"></li>
                    </div>
                    <div>
                       <div class="text-red-600">{{ form.password.errors }}</div>
                        <label class="py-3 font-bold" for="username">password</label>
                        <li id="title" class="py-3"><input class="w-full border border-gray-300 px-3 py-2 rounded-lg shadow-sm focus:outline-none focus:border-indigo-500 focus:ring-1 focus:ring-indigo-500" type="password" name="{{form.password.html_name}}" id="{{form.password.id_for_label}}"></li>
                    </div>
                    <input class="text-center border border-gray-700 bg-gray-700 text-white rounded-md px-4 py-3 mr-2 transition duration-500 ease select-none hover:bg-gray-800 focus:outline-none focus:shadow-outline" type="submit" value="Login">
                </ul>
                
            </form>
        </div>
        <a href="{% url 'reset_password' %}" class=" place-self-center mt-4 text-gray-700 underline text-base mb-2">Forgot Password</a>
    </div>
{% endblock %}