{% extends 'preachings/base.html' %}
{% load static %}
{% block content %}
<div class="container block mx-auto my-auto">
    <div class="text-center text-xl font-bold text-gray-700 md:text-2xl">
        Are you sure you want to logout?
    </div>
    <div class="flex flex-row justify-center  py-3">

        <a href="{% url 'index_preaching_list' %}" class="border border-gray-700 bg-gray-700 text-white rounded-md px-4 mr-2 py-1.5 transition duration-500 ease select-none hover:bg-gray-800 focus:outline-none focus:shadow-outline">
            Cancel
        </a>
        <a href="{% url 'logout' %}" type="submit" class="border border-blue-500 bg-blue-500  text-white rounded-md px-4 py-1 transition duration-500 ease select-none hover:bg-red-600 focus:outline-none focus:shadow-outline">
            Yes, Logout
        </a> 


    </div>
</div>
{% endblock %}